[Unit]
Description=Routes openbot MQTT messages to slack

[Service]
User=python-mqtt
WorkingDirectory=/var/iot/openbot/hardware2mqtt
ExecStart=/bin/bash -c 'cd /var/iot/openbot/hardware2mqtt && source env/bin/activate && python script.py'
Restart=always

[Install]
WantedBy=multi-user.target